.out_wrapper_sale {
    background-color: #F3F3F3;
    margin: 0 120px;
}

.product_sale {
    position: relative;
}

.sale_bg {
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: #FF4975;
    color: white;
    padding: 10px 30px;
}

.product_sale:hover {
    transform: scale(1);
}

.sale_bg p{
    color: white;
}