.image_product{
    width: 424px;
    height: 654px;
    filter: saturate(0);
}

.product_text{
    text-align: left;
    align-items: flex-start;
}

.product_btn{
    border-bottom: 2px solid #FF295D;
    width: 100%;
    cursor: pointer;
}

@media (max-width: 900px) {
    .image_product{
        width: 200px;
        height: 430px;
    }
}

@media (max-width: 748px) {
    .flex_wrapper{
        flex-direction: column;
    }
    .image_product{
        width: 100%;
        height: 600px;
        order: 2;
    }
}