header {
  padding: 0 24px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 1;
}

.header_wrapper {
  padding: 26px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1240px;
  margin: auto;
}

.logo {
  color: white;
  font-weight: 900;
  display: flex;
  align-items: center;
  font-size: 24px;
}

.pink {
  color: #FF4975;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 54px;
}

li a {
  color: white;
}